<<<<<<< HEAD
<div class="row">
    {{#each buttons}}
    <div class="column-flex">
        <a class="btn text-bg-primary col-3 m-2" href="{{link}}">{{name}}</a>
    </div>
    {{/each}}
</div>
=======
<main>
    <div class="row g-2">
        <h2>{{main.title}}</h2>
        <p class="mb-4">{{main.discription}}</p>
    </div>
    <div class="col-3 ">
        {{#each buttons}}
        <a href="{{href}}" class=" btn text-bg-primary nav-link my-3">{{text}}</a>
        {{/each}}
    </div>
</main>
>>>>>>> abf77e85231c8faf38e1cd981625223e5e252e7b
