<main>
    <div>
        {{#with header}}
        <h1>{{title}}</h1>
        {{#with button}}
        <a class="btn btn-outline-secondary my-3" href="{{link}}">{{text}}</a>
        {{/with}}
        {{/with}}
    </div>

    <hr>

    <div>
        {{#each goodsBlock}}
        <div class="row g-2">
            <div class="card my-3 p-2">
                <div class="row card-body">
                    <img src="{{image}}" class="rounded float-left col-2" alt="picture">
                    <div class="col-3">
                        <h5 class="card-title col">{{name}}</h5>
                        <p class="card-text col">{{description}}</p>
                    </div>
                    <div class="col-3 ">
                        <p class="col">{{price.title}}</p>
                        <p class="col">{{price.value}}</p>
                    </div>
                    <div class="col-2">
                        <p class="col">{{amount}}</p>
                    </div>
                    <div class="col-2">
                        {{#each buttons}}
                        {{#if isPrimary}}
                        <button class="btn bg-primary m-2 p-2">{{text}}</button>
                        {{/if}}
                        {{#if isDanger}}
                        <button class="btn btn-outline-danger m-2 p-2">{{text}}</button>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <hr>

    <div>
        {{#with total}}
        <h2>{{title}}</h2>
        <div class="display-6">
            {{amount}}
        </div>
        <p class="my-3">{{delivery}}</p>
        {{#each buttons}}
        {{#if isSuccess}}
        <div class="flex-column">
            <a class="btn btn-success my-3" href="{{link}}">{{text}}</a>
            {{/if}}
            {{#if isOutline}}
            <a class="btn btn-outline-success m-2 p-2">{{text}}</a>
            {{/if}}
        </div>
        {{/each}}
        {{/with}}
    </div>

    <hr class="my-4">

    <div>
        {{#with goodsOtherBlock}}
        <h2 class="text-center">{{title}}</h2>

        <div class="row g-2">
            {{#each cards}}
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <img src="{{image}}" class="card-img-top" alt="picture">
                        <h5 class="card-title">{{title}}
                            {{#if isHot}}<span class="badge rounded-pill text-bg-warning">НOT
                                {{/if}}</span>
                            {{#if idNew}}
                            <span class="badge rounded-pill text-bg-info">Нове
                                {{/if}}</span>
                        </h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>

    <hr class="my-4">

    <div class="card bg-secondary p-2">
        {{#with subscribe}}
        <h2>{{header}}</h2>
        <p>{{description}}</p>
        <div>
            {{#each buttons}}
            <div class="flex-column">
                <a class="btn btn-primary my-3" href="{{link}}">{{text}}</a>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </div>
</main>